#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
test-results/

MSTestAllureAdapter/bin
MSTestAllureAdapter.Console/bin
MSTestAllureAdapter.Console/obj
MSTestAllureAdapter.Tests/bin
MSTestAllureAdapter.Tests/obj
